/* src/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
}

.content-logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.content-logo h1 {
  margin-left: 10px; /* Ajuste o espaço entre o logo e o texto conforme necessário */
  color: white;
  font-size: 24px;
}

.nav-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
